BODY { color: #d6e2db; padding: 50px}
H1, H2, H3 {color:#deebdc; font-family: sans-serif; display: inline;}
body {background-image: url(TheTable.png);
 background-repeat: no-repeat;
background-size: 2250px;
}
#xeno {width:200px}
 div.relative {
  position: relative;
  left: 1000px;
  top: 150px;
}   